<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Dailydeal>
            <version>0.0.4</version>
        </Magazento_Dailydeal>
    </modules>
    <frontend>
        <layout>
            <updates>
                <dailydeal>
                    <file>magazento_dailydeal.xml</file>
                </dailydeal>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_before>
                <observers>
                    <gallery>
                        <type>singleton</type>
                            <class>dailydeal/layout</class>
                        <method>fetchDbLayoutUpdates</method>
                    </gallery>
                </observers>
            </controller_action_layout_generate_blocks_before>
        </events>           
    </frontend>
    <global>
        <models>
            <dailydeal>
                <class>Magazento_Dailydeal_Model</class>
                <resourceModel>dailydeal_mysql4</resourceModel>
            </dailydeal>
            <dailydeal_mysql4>
                <class>Magazento_Dailydeal_Model_Mysql4</class>
                <entities>
                    
                    <item>
                        <table>magazento_dailydeal_item</table>
                    </item>
                    <item_store>
                        <table>magazento_dailydeal_item_store</table>
                    </item_store>
                    <item_category>
                        <table>magazento_dailydeal_item_category</table>
                    </item_category>                          
                    <item_page>
                        <table>magazento_dailydeal_item_page</table>
                    </item_page>
                    <item_product>
                        <table>magazento_dailydeal_item_product</table>
                    </item_product>                          
                </entities>
            </dailydeal_mysql4>
        </models>
        <resources>
            <dailydeal_setup>
                <setup>
                    <module>Magazento_Dailydeal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dailydeal_setup>
            <dailydeal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dailydeal_write>
            <dailydeal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dailydeal_read>
        </resources>
        <blocks>
            <dailydeal>
                <class>Magazento_Dailydeal_Block</class>
            </dailydeal>
        </blocks>
        <helpers>
            <dailydeal>
                <class>Magazento_Dailydeal_Helper</class>
            </dailydeal>
        </helpers>
        
        <events>
                        
            <checkout_cart_update_items_after>
                <observers>
                    <dailydeal>
                        <type>singleton</type>
                        <class>
                            Magazento_Dailydeal_Model_Observercartupdateitemsafter
                        </class>
                        <method>check_is_dailydeal</method>
                    </dailydeal>
                </observers>
            </checkout_cart_update_items_after>
            <catalog_product_get_final_price>
                <observers>
                    <dailydeal>
                        <type>singleton</type>
                        <class>Magazento_Dailydeal_Model_Observergetprice</class>
                        <method>get_price</method>
                    </dailydeal>
                </observers>
            </catalog_product_get_final_price>	
        </events>
    </global>
    <admin>
        <routers>
            <dailydeal>
                <use>admin</use>
                <args>
                    <module>Magazento_Dailydeal</module>
                    <frontName>dailydeal</frontName>
                </args>
            </dailydeal>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dailydeal translate="title" module="dailydeal">
                                            <title>Dailydeal</title>
                                        </dailydeal>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <cms translate="title" module="dailydeal">
                <children>
                    <dailydeal translate="title" module="dailydeal">
                        <title>Daily Deal</title>
                        <children>
                            <items translate="title" module="dailydeal">
                                <title>Manage</title>
                                <action>dailydeal/admin_item/</action>
                                <resource>dailydeal/admin/item</resource>                        
                                <sort_order>5</sort_order>                                
                            </items>                                
                            <settings translate="title" module="dailydeal">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/dailydeal</action>
                                <sort_order>40</sort_order>
                            </settings>                                
                        </children>
                    </dailydeal>
                </children>
            </cms>
        </menu> 
        <layout>
            <updates>
                <dailydeal>
                    <file>magazento_dailydeal.xml</file>
                </dailydeal>
            </updates>
        </layout>        
    </adminhtml>
    <default>
        <dailydeal>
            <toplinks>
                <link>1</link>
                <link_title>Daily Deals</link_title>
            </toplinks>
            <viewall>
                <dealslimit>3</dealslimit>
            </viewall>
            <options>
                <descriptionlimit>15</descriptionlimit>
                <metatitle>Daily Deals - Buy more! Save More! </metatitle>
                <topblock>daily_deal_top_block</topblock>
                <bottomblock>daily_deal_bottom_block</bottomblock>                
            </options>
            <slider>
            	<autoplay>true</autoplay>
            	<slideduration>4</slideduration>
            	<animduration>0.5</animduration>
            </slider>             
        </dailydeal>
    </default>
</config>